<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>artifactory</id>
            <mirrorOf>*</mirrorOf>
	    <!-- this is wrench2.res but DNS doesn't seem to work inside container -->
            <url> http://10.0.0.77/artifactory/repo </url>
            <name>Artifactory</name>
        </mirror>
    </mirrors>
</settings>
